h1,
body {
  margin: 0;
}

body {
  font-family: 'Tinos', serif;
  text-align: center; /*text-align: center in a parent container will center everything in it unless it is given 
                        width property. In that case use margin auto in the element u want to center*/
}

h1 {
  /* width:10%; */
  color: #66BFBF;
  font-family: 'Yellowtail', cursive;
  /* font size=> 100% = 16px = 1em/
  /* 90px/16px = 562.5% = 5.625.= em*/
  /* rem = root em: controls font size regardless of previous parent tags set using em, since ems are cascaded together and multiplied*/
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2{
  color: #66BFBF;
  font-family: 'Raleway', sans-serif;
  /*40px/16px = 2.5 em */
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Raleway', sans-serif;
}

a{
  color: #11999E
}

/* .middle-container img{
   height: 350px;
   width: 350px;
  } */
 .profile-pic{
    height: 350px;
    width: 350px;  
 }

.top-container {
  background-color: #F6F5F5;
  position: relative;
  padding-top: 90px;
}

.middle-container {
  background-color: #D3E0EA;
}

.bottom-container {
  background-color: #B8B5FF;
  position: relative;
  padding-top: 10px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.coder{
  float: left;
  margin-right: 30px;
  position: relative; /*extra*/
  top: -20px; /*extra*/
  width: 25%;
}

.kakyoin{
  float: right;
  margin-left: 30px;
  position: relative; /*extra*/
  top: -20px; /*extra*/
  width: 25%;
} 

/* 
.skill-row h3,.skill-row p{
  text-align: left;
} */

/* .hat{
  height: 200px;
  width:200px;
}

.menacing{
  height: 200px;
  width:200px;
}

.kakyoin{
  height: 200px;
  width:200px;
} */
