h1,
body {
  margin: 0;
}

body {
  font-family: 'Tinos', serif;
  text-align: center; /*text-align: center in a parent container will center everything in it unless it is given 
                        width property. In that case use margin auto in the element u want to center*/
}

h1 {
  /* width:10%; */
  font-family: 'Yellowtail', cursive;
  margin-top: 0;
}

h2{
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

.middle-container img{
   height: 350px;
   width: 350px;
 }

.top-container {
  background-color: #4e89ae;
  position: relative;
  padding-top: 90px;
}

.middle-container {
  background-color: #ed6663;
}

.bottom-container {
  background-color: #43658b;
  position: relative;
  padding-top: 10px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* .hat{
  height: 200px;
  width:200px;
}

.menacing{
  height: 200px;
  width:200px;
}

.kakyoin{
  height: 200px;
  width:200px;
} */
